@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  padding: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
}

canvas {
  flex-shrink: 0;
  -webkit-box-flex: 0;
          flex-grow: 0;
  border: 1px solid #000000;
}

.user__wrap {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 95%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  border: 4px solid #5F9EA0;
  border-radius: 10px;
}

.choose__size-wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap;
}

.choose__size {
  margin: 5px 5px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
}
.choose__size:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.time-click-information {
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}

.div__audio {
  margin-top: 20px;
  cursor: pointer;
  height: 70px;
  width: 150px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  text-transform: uppercase;
  border: 2px solid black;
  border-radius: 5px;
}
.div__audio:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.div__best {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  line-height: 150%;
}